---
import Layout from "../layouts/Layout.astro";
import Content from "../components/Content";
---

<Layout title="Welcome to Astro.">
  <main style={{ height: "100vh" }}>
    <div
      style={{
        display: "flex",
        background: "grey",
        width: "100vw",
        height: "100vh",
        contain: "strict",
      }}
    >
      <div style={{ margin: "auto", width: "fit-content" }}>First View</div>
    </div>
    <div style={{ background: "black", color: "white" }}>
      {
        [...new Array(1000).keys()].map((_, i) => (
          // https://docs.astro.build/ja/reference/directives-reference/#clientvisible
          // https://docs.astro.build/ja/reference/directives-reference/#clientonly
          <Content num={i} client:only="react" client:visible />
        ))
      }
    </div>
  </main>
</Layout>
