---
import GridLayout from "../components/GridLayout";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main style={{ height: "100vh" }}>
    <div
      style={{
        display: "flex",
        background: "grey",
        width: "100vw",
        height: "100vh",
        contain: "strict",
      }}
    >
      <div style={{ margin: "auto", width: "fit-content" }}>First View</div>
    </div>
    <div style={{ background: "black", color: "white" }}>
      <GridLayout client:only="react" />
    </div>
  </main>
</Layout>
